<div *ngIf="userRole==='admin'">
  <button mat-button color="primary" routerLink="/accounts" routerLinkActive="active-link">Accounts</button>
  <button mat-button color="primary">Courses</button>
</div>

<div *ngIf="userRole==='teacher'">
  <button mat-button color="primary" routerLink="/my-lesson" routerLinkActive="active-link">My Lesson</button>
</div>

<div *ngIf="userRole==='student'">
  <button mat-button color="primary" routerLink="/my-courses" routerLinkActive="active-link">Courses</button>
</div>
